In [1]:
#import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# import dataset

dataset= pd.read_csv("heart_failure_clinical_records_dataset.csv")
print(dataset)

      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time  DEATH_EVENT
0          0     4            1
1          0     6            1
2          1     7            1
3          0     7            1
4          0     8            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[299 rows x 13 columns]

In [3]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB
None

In [4]:
print(dataset.describe())

              age     anaemia  creatinine_phosphokinase    diabetes  \
count  299.000000  299.000000                299.000000  299.000000
mean    60.833893    0.431438                581.839465    0.418060
std     11.894809    0.496107                970.287881    0.494067
min     40.000000    0.000000                 23.000000    0.000000
25%     51.000000    0.000000                116.500000    0.000000
50%     60.000000    0.000000                250.000000    0.000000
75%     70.000000    1.000000                582.000000    1.000000
max     95.000000    1.000000               7861.000000    1.000000

       ejection_fraction  high_blood_pressure      platelets  \
count         299.000000           299.000000     299.000000
mean           38.083612             0.351171  263358.029264
std            11.834841             0.478136   97804.236869
min            14.000000             0.000000   25100.000000
25%            30.000000             0.000000  212500.000000
50%            38.000000             0.000000  262000.000000
75%            45.000000             1.000000  303500.000000
max            80.000000             1.000000  850000.000000

       serum_creatinine  serum_sodium         sex    smoking        time  \
count         299.00000    299.000000  299.000000  299.00000  299.000000
mean            1.39388    136.625418    0.648829    0.32107  130.260870
std             1.03451      4.412477    0.478136    0.46767   77.614208
min             0.50000    113.000000    0.000000    0.00000    4.000000
25%             0.90000    134.000000    0.000000    0.00000   73.000000
50%             1.10000    137.000000    1.000000    0.00000  115.000000
75%             1.40000    140.000000    1.000000    1.00000  203.000000
max             9.40000    148.000000    1.000000    1.00000  285.000000

       DEATH_EVENT
count    299.00000
mean       0.32107
std        0.46767
min        0.00000
25%        0.00000
50%        0.00000
75%        1.00000
max        1.00000

In [5]:
#import train_test library
from sklearn.model_selection import train_test_split
train, test= train_test_split(dataset, test_size=0.2, random_state=42, shuffle=True)
# what is random_state ,shuffle

In [6]:
print("==============train data ===================")
print(train.head())
print(train.info())

==============train data ===================
        age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
6    75.000        1                       246         0                 15
183  75.000        0                        99         0                 38
185  60.667        1                       104         1                 30
146  52.000        0                       132         0                 30
30   94.000        0                       582         1                 38

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
6                      0  127000.00              1.20           137    1
183                    1  224000.00              2.50           134    1
185                    0  389000.00              1.50           136    1
146                    0  218000.00              0.70           136    1
30                     1  263358.03              1.83           134    1

     smoking  time  DEATH_EVENT
6          0    10            1
183        0   162            1
185        0   171            1
146        1   112            0
30         0    27            1
<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 6 to 102
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       239 non-null    float64
 1   anaemia                   239 non-null    int64
 2   creatinine_phosphokinase  239 non-null    int64
 3   diabetes                  239 non-null    int64
 4   ejection_fraction         239 non-null    int64
 5   high_blood_pressure       239 non-null    int64
 6   platelets                 239 non-null    float64
 7   serum_creatinine          239 non-null    float64
 8   serum_sodium              239 non-null    int64
 9   sex                       239 non-null    int64
 10  smoking                   239 non-null    int64
 11  time                      239 non-null    int64
 12  DEATH_EVENT               239 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 26.1 KB
None

In [7]:
print("===============test data =======================")
print(test.head())

===============test data =======================
      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
281  70.0        0                       582         0                 40
265  50.0        1                       298         0                 35
164  45.0        0                      2442         1                 30
9    80.0        1                       123         0                 35
77   42.0        0                       102         1                 40

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
281                    0    51000.0               2.7           136    1
265                    0   362000.0               0.9           140    1
164                    0   334000.0               1.1           139    1
9                      1   388000.0               9.4           133    1
77                     0   237000.0               1.2           140    1

     smoking  time  DEATH_EVENT
281        1   250            0
265        1   240            0
164        0   129            1
9          1    10            1
77         0    74            0

In [8]:
train.to_csv("heart_train.csv", index = False)
test.to_csv("heart_test.csv", index = False)